<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Download_Master_Torrent_Association_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Download_Master_Torrent_Association_Tool.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8081</value>
            </setting>
            <setting name="Magnet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Torrent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ed2k" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NZB" serializeAs="String">
                <value>False</value>
            </setting>
        </Download_Master_Torrent_Association_Tool.Properties.Settings>
    </userSettings>
</configuration>